In [1]:
import os
import sys

# Set Python paths to your conda environment
os.environ['PYSPARK_PYTHON'] = sys.executable  # Worker Python
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable  # Driver Python

In [2]:
# CATALYST OPTIMIZER

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import broadcast,expr,col

In [4]:
spark= SparkSession.builder.appName("Catalyst_Opti").getOrCreate()

In [10]:
data = [("John Doe", 28, "Engineering"),
    ("Jane Smith", 34, "Marketing"),
    ("Mike Johnson", 45, "Finance"),
    ("Sarah Williams", 29, "Engineering"),
    ("David Brown", 38, "HR"),
    ("Emily Davis", 31, "Sales"),
    ("Robert Lee", 42, "IT"),
    ("Lisa Chen", 27, "Marketing"),
    ("James Wilson", 50, "Finance"),
    ("Anna Taylor", 24, "Support"),
    ("Michael Adams", 33, "Engineering"),
    ("Jennifer Lopez", 41, "HR"),
    ("Daniel Kim", 26, "IT"),
    ("Amanda Rodriguez", 35, "Marketing"),
    ("Christopher Lee", 44, "Finance"),
    ("Jessica Wong", 30, "Engineering"),
    ("Matthew Patel", 39, "Sales"),
    ("Olivia Martinez", 28, "Support"),
    ("William Nguyen", 47, "IT"),
    ("Sophia Garcia", 32, "HR")]
columns = ["name","age","department"]

In [11]:
df = spark.createDataFrame(data,columns)

In [12]:
df.createOrReplaceTempView("employees")

In [13]:
df.show()

+----------------+---+-----------+
|            name|age| department|
+----------------+---+-----------+
|        John Doe| 28|Engineering|
|      Jane Smith| 34|  Marketing|
|    Mike Johnson| 45|    Finance|
|  Sarah Williams| 29|Engineering|
|     David Brown| 38|         HR|
|     Emily Davis| 31|      Sales|
|      Robert Lee| 42|         IT|
|       Lisa Chen| 27|  Marketing|
|    James Wilson| 50|    Finance|
|     Anna Taylor| 24|    Support|
|   Michael Adams| 33|Engineering|
|  Jennifer Lopez| 41|         HR|
|      Daniel Kim| 26|         IT|
|Amanda Rodriguez| 35|  Marketing|
| Christopher Lee| 44|    Finance|
|    Jessica Wong| 30|Engineering|
|   Matthew Patel| 39|      Sales|
| Olivia Martinez| 28|    Support|
|  William Nguyen| 47|         IT|
|   Sophia Garcia| 32|         HR|
+----------------+---+-----------+

In [14]:
q1= "select name,age from employees where department ='Engineering'"
res1= spark.sql(q1)

In [15]:
q2 = "select department,avg(age) as avg_age from employees group by department order by avg_age desc"
res2= spark.sql(q2)

In [16]:
res3 = df.select("name","department").filter(col("age")>30)

In [20]:
res4 = df.withColumn("status",expr("case when age < 30 then '  YOUNG' else '  MATURE' end"))

In [19]:
print("Result 1: ")
res1.show()

print("Result 2: ")
res2.show()

print("Result 3: ")
res3.show()

print("Result 4: ")
res4.show()

Result 1:
+--------------+---+
|          name|age|
+--------------+---+
|      John Doe| 28|
|Sarah Williams| 29|
| Michael Adams| 33|
|  Jessica Wong| 30|
+--------------+---+

Result 2:
+-----------+------------------+
| department|           avg_age|
+-----------+------------------+
|    Finance|46.333333333333336|
|         IT|38.333333333333336|
|         HR|              37.0|
|      Sales|              35.0|
|  Marketing|              32.0|
|Engineering|              30.0|
|    Support|              26.0|
+-----------+------------------+

Result 3:
+----------------+-----------+
|            name| department|
+----------------+-----------+
|      Jane Smith|  Marketing|
|    Mike Johnson|    Finance|
|     David Brown|         HR|
|     Emily Davis|      Sales|
|      Robert Lee|         IT|
|    James Wilson|    Finance|
|   Michael Adams|Engineering|
|  Jennifer Lopez|         HR|
|Amanda Rodriguez|  Marketing|
| Christopher Lee|    Finance|
|   Matthew Patel|      Sales|
|  William Nguyen|         IT|
|   Sophia Garcia|         HR|
+----------------+-----------+

Result 4:
+----------------+---+-----------+------+
|            name|age| department|status|
+----------------+---+-----------+------+
|        John Doe| 28|Engineering| YOUNG|
|      Jane Smith| 34|  Marketing|MATURE|
|    Mike Johnson| 45|    Finance|MATURE|
|  Sarah Williams| 29|Engineering| YOUNG|
|     David Brown| 38|         HR|MATURE|
|     Emily Davis| 31|      Sales|MATURE|
|      Robert Lee| 42|         IT|MATURE|
|       Lisa Chen| 27|  Marketing| YOUNG|
|    James Wilson| 50|    Finance|MATURE|
|     Anna Taylor| 24|    Support| YOUNG|
|   Michael Adams| 33|Engineering|MATURE|
|  Jennifer Lopez| 41|         HR|MATURE|
|      Daniel Kim| 26|         IT| YOUNG|
|Amanda Rodriguez| 35|  Marketing|MATURE|
| Christopher Lee| 44|    Finance|MATURE|
|    Jessica Wong| 30|Engineering|MATURE|
|   Matthew Patel| 39|      Sales|MATURE|
| Olivia Martinez| 28|    Support| YOUNG|
|  William Nguyen| 47|         IT|MATURE|
|   Sophia Garcia| 32|         HR|MATURE|
+----------------+---+-----------+------+

In [21]:
print("Result 4: ")
res4.show()

Result 4:
+----------------+---+-----------+--------+
|            name|age| department|  status|
+----------------+---+-----------+--------+
|        John Doe| 28|Engineering|   YOUNG|
|      Jane Smith| 34|  Marketing|  MATURE|
|    Mike Johnson| 45|    Finance|  MATURE|
|  Sarah Williams| 29|Engineering|   YOUNG|
|     David Brown| 38|         HR|  MATURE|
|     Emily Davis| 31|      Sales|  MATURE|
|      Robert Lee| 42|         IT|  MATURE|
|       Lisa Chen| 27|  Marketing|   YOUNG|
|    James Wilson| 50|    Finance|  MATURE|
|     Anna Taylor| 24|    Support|   YOUNG|
|   Michael Adams| 33|Engineering|  MATURE|
|  Jennifer Lopez| 41|         HR|  MATURE|
|      Daniel Kim| 26|         IT|   YOUNG|
|Amanda Rodriguez| 35|  Marketing|  MATURE|
| Christopher Lee| 44|    Finance|  MATURE|
|    Jessica Wong| 30|Engineering|  MATURE|
|   Matthew Patel| 39|      Sales|  MATURE|
| Olivia Martinez| 28|    Support|   YOUNG|
|  William Nguyen| 47|         IT|  MATURE|
|   Sophia Garcia| 32|         HR|  MATURE|
+----------------+---+-----------+--------+

In [22]:
spark.stop()