In [ ]:
#importing nessasary modules from pyspark.sql package for starting a spark session...
#also imports .types which is used for taking in data from the datasets to recognize the datatype 
#  for manual schema assignment...

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [ ]:
#starting a spark session with .builder method...
#.appName used to create a custom appname for the appl ; for monitoring and debugging purpose with hwlp
#  of centralized spark ui.
#getOrCreate() method for creating the appl if not exists or use the existing one

In [4]:
spark= SparkSession.builder.appName("firstapp").getOrCreate()

In [ ]:
#manual schema assigment
#Structtype to create the schema and structfield to define the column headers and thier types
#a normal syntax followed 
#schema_var = StructType([ StructField(colnames_in_quotes,Type,Nullability_boolean),...])

In [5]:
schema = StructType([ StructField("userid",IntegerType(),True),
                      StructField("name",StringType(),True),
                      StructField("age",IntegerType(),True),
                      StructField("friends",IntegerType(),True)])

In [ ]:
#.read is a dataframereader for spark and .format("csv") defines that the data in in csv form
#.schema() and .option() are subfunctions in the scope of spark
# header as true means that the first rowin csv is the header and can be ignored in data rows
#load readies the transformation part of spark

In [6]:
people = spark.read.format("csv")\
        .schema(schema)\
        .option("path","users_data.csv")\
        .option("header","true")\
        .load()

In [ ]:
#returns the schema of the given dataframe

In [7]:
people.printSchema()

root
 |-- userid: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- friends: integer (nullable = true)

In [ ]:
#returns the no of rows

In [8]:
people.count()

100

In [ ]:
#shows the rows atleast the top 20

In [10]:
people.show()

+------+----------------+---+-------+
|userid|            name|age|friends|
+------+----------------+---+-------+
|     1|Jeremy Fernandez| 49|    629|
|     2|  Ivan Robertson| 53|    752|
|     3|     Andre Jones| 20|    257|
|     4|     Ana Escobar| 65|    549|
|     5|Charlotte Harris| 36|     22|
|     6| Philip Williams| 45|    403|
|     7|    Whitney Moss| 19|    570|
|     8|   Kellie Miller| 32|    480|
|     9|    Scott Bailey| 64|    649|
|    10|     Kevin Smith| 54|    209|
|    11|    Lori Coleman| 54|    459|
|    12|  Richard Torres| 67|    284|
|    13|    Edgar Decker| 56|    517|
|    14|  Shawn Cisneros| 78|    544|
|    15|   Timothy Moore| 41|    755|
|    16|Jacqueline Black| 29|    338|
|    17|   Colleen Vance| 54|    483|
|    18|   Patty Kennedy| 38|    217|
|    19|    Kathy Powers| 26|    965|
|    20|   Timothy Rocha| 47|    646|
+------+----------------+---+-------+
only showing top 20 rows

In [ ]:
############## DATAFRAMES AND SQL ###################

In [ ]:
# to work with sql on spark dataframe, we need to create a view of the data
# view is a temp window for data either filtered or shown with a condition

In [ ]:
# here we create view from the people dataframe. and inside the brackets
# we mention the table name for the new view table which is people, here.
# basic syntax: dataframe_name.createOrReplaceTempView(new_view_tablename_in_quotes)

In [11]:
people.createOrReplaceTempView("people")

In [ ]:
# we create a var for the new dataframe from the sql query that we pass...

In [12]:
data = spark.sql("select * from people where age > 30")

In [ ]:
# we need to call .show() action to see the dataframe that we need

In [13]:
data.show()

+------+------------------+---+-------+
|userid|              name|age|friends|
+------+------------------+---+-------+
|     1|  Jeremy Fernandez| 49|    629|
|     2|    Ivan Robertson| 53|    752|
|     4|       Ana Escobar| 65|    549|
|     5|  Charlotte Harris| 36|     22|
|     6|   Philip Williams| 45|    403|
|     8|     Kellie Miller| 32|    480|
|     9|      Scott Bailey| 64|    649|
|    10|       Kevin Smith| 54|    209|
|    11|      Lori Coleman| 54|    459|
|    12|    Richard Torres| 67|    284|
|    13|      Edgar Decker| 56|    517|
|    14|    Shawn Cisneros| 78|    544|
|    15|     Timothy Moore| 41|    755|
|    17|     Colleen Vance| 54|    483|
|    18|     Patty Kennedy| 38|    217|
|    20|     Timothy Rocha| 47|    646|
|    23|   Elizabeth Lewis| 44|    861|
|    24|       Bobby Bates| 45|    330|
|    25|   William Delgado| 58|     56|
|    27|Jennifer Mcpherson| 38|    881|
+------+------------------+---+-------+
only showing top 20 rows

In [14]:
data.count()

74

In [15]:
print(people.count()-data.count())

26